#blueCol{
    color: blue;
}
#bisCol{
    color: bisque;
}
#greenCol{
    color: green;
}
#orangeCol{
    color:orange;
}
#brownCol{
    color: brown;
}
#chocoCol{
    color: chocolate;
}
#burlyCol{
    color: burlywood;
}